* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1.5rem;
  font-family: "poppins", Courier, monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 2rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.6rem;
}

.my-logo {
  color: #6070ff;
}

.my-logo a {
  text-decoration: none;
  color: #6070ff;
  font-size: 2.5rem;
  font-weight: bold;
}

.toggle-menu {
  margin-right: 0.188rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-menu img {
  width: 1.5rem;
}

.headline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: 15px;
  border-bottom-left-radius: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-bottom: 0;
}

.container h1 {
  font-style: normal;
  font-weight: bolder;
  font-size: 3rem;
  padding-top: 7.5rem;
  color: #172b4d;
  font-family: "poppins", Courier, monospace;
}

.heading {
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.container p {
  color: #344563;
  font-size: 1.5rem;
}

ul {
  /* removes padding on ul lists */
  padding: 0;
}

.social-media-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
  margin-right: 70px;
  margin-top: 0.8rem;
  padding-bottom: 2rem;
}

.lets-connect {
  text-decoration: none;
  color: #7f8cff;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.lets-connect a {
  text-decoration: none;
  color: #6070ff;
}
